.body {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;

    .form {
        background-color: #fff;
        padding-top: 7.5%;

        a {
            display: block;
            margin-bottom: 10%;
            @include fiber;
        }

        h1 {
            font-weight: bold;
            margin-bottom: 10%;
        }

        form {
            .row {
                margin-bottom: 5%;

                .password {
                    position: relative;

                    input[type=password] {
                        padding-right: 10%;
                    }

                    img {
                        position: absolute;
                        top: 53%;
                        right: 10%;
                    }
                }
            }

            .form-check {
                a {
                    font-weight: bold;
                    color: $btn;
                    text-underline-offset: 3px;
                }
            }
        }

        p {
            text-align: center;
            border: none;

            a {
                display: inline;
                color: $btn;
                font-weight: 400;
                text-decoration: none;
            }
        }
    }


    .image {
        background-color: $btn;
        color: #fff;
        text-align: center;

        img {
            width: 100%;
            margin-bottom: 5%;
        }
    }
}